$primary-color: #938071;
$secondary-color: #AFA798;
$terciary-color: #1B1C22;
$font-color: #aaa;

@mixin reset{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
@mixin formularioA {
    color: $primary-color;
    text-align: center;
    margin: 80px 0 10px;
    font-weight: 500;
}

*{
    @include reset
}
.header-logo{
    & img {
        width: 4rem;
        float: left;
        padding: 3px;
    }
    & a{
        text-align: center;
        & p{
            padding-top: 20px;
            text-align: left;
            font-family: 'Poppins', sans-serif;
            color: $primary-color;
            font-size: 20px;
            text-decoration: none;
        }
    }
}
section{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    & .img{
        position: relative;
        width: 50%;
        height: 100%;
        &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        mix-blend-mode: screen;
        }
        & img{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            }
    }
}

/**------------section formulario------------------**/

section .contenido{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.formulario h1{
    color: $secondary-color;
    font-weight: 600;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 4px solid $terciary-color;
    display: inline-block;
    letter-spacing: 1px; 
}
.input{
    margin-bottom: 20px;
}
.input p{
    font-size: 30px;
    margin-bottom: 5px;
    display: inline-block;
    color: #AFA798;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 1px;
}
.formulario .input input{
    width: 100%;
    padding: 10px 20px;
    outline: none;
    font-weight: 400;
    border: 1px solid $primary-color;
    font-size: 16px;
    letter-spacing: 1px;
    color: #938071;
    background: transparent;
    border-radius: 30px;
}
.formulario .input a{
    width: 100%;
    padding: 10px 30px;
    outline: none;
    font-weight: 400;
    border: 1px solid $primary-color;
    font-size: 16px;
    letter-spacing: 1px;
    color: #938071;
    background: transparent;
    border-radius: 30px;
    text-align: center;
}
.formulario .input .submit{
    background: $primary-color;
    color: #fafafa;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
}
.formulario .input .submit:hover{
    background: #AFA798;
}
.formulario .input .recordame{
    margin-bottom: 10px;
    color: $primary-color;
    font-weight: 400;
    font-size: 14px;
}

.formulario{
    & a{
        color: $primary-color;
    }
    & p{
        padding-top: 10px; 
    }
    & h3{
        @include formularioA
    }
}

.formulario .social{
    display: flex;
    justify-content: center;
    align-items: center;
}
.formulario .social li{
    list-style: none;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 7px;
    cursor: pointer;
}
.formulario{
    &.creditos{
        & p{
            @include formularioA
        }
    }
}

.formulario{
    &.copyright{
        @include formularioA()
    }
}


/**------------responsive------------------**/
@media (max-width: 768px){
    section .img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    section .contenido{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    section .contenido .formulario{
        width: 100%;
        padding: 40px;
        background: mintcream;
        margin: 50px;
    }
    .formulario h3{
        color: #938071;
        text-align: center;
        margin: 30px 0 10px;
        font-weight: 500;
    }
}